<section class="hero">
  <div class="container">
    <div class="banner | text-neutral-100">
      <span class="support-info | fs-600 fw-semi-bold text-neutral-100">
        <img src="{{asset 'headphone.png'}}"/>
        1300 854 010
      </span>
      <h1 class="fs-primary-heading fw-bold">
       	New Request Page
      </h1>
      <p class="fs-hint text-neutral-700">
				This page is under construction
      </p>
      <div class="search-bar | fs-hint">
        <form accept-charset="UTF-8" action="/hc/en-use/search" class="search-field" method="get" role="search">
          <input name="utf8" type="hidden" value="&#x2713;" />
          <input placeholder="Search for a solution" type="search"/>
          <button class="search-button | focus-visible" type="submit">
            <img src="{{asset 'search.png'}}" />
          </button>
        </form>
      </div>
    </div>
  </div>
</section>

<!-- Commented is the default copenhagen theme -->

<!-- <div class="container-divider"></div>
<div class="container">
  <nav class="sub-nav">
    {{breadcrumbs}}
    <div class="search-container">
      <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" viewBox="0 0 12 12" class="search-icon" aria-hidden="true">
        <circle cx="4.5" cy="4.5" r="4" fill="none" stroke="currentColor"/>
        <path stroke="currentColor" stroke-linecap="round" d="M11 11L7.5 7.5"/>
      </svg>
      {{search submit=false}}
    </div>
  </nav>

  <h1>
    {{t 'submit_a_request'}}
    <span class="follow-up-hint">
      {{follow_up}}
    </span>
  </h1>

  <div id="main-content" class="form">
    {{request_form wysiwyg=true}}
  </div>
</div>
 -->